{{#if error }}
    <p>{(error)}</p>
{{/if}}



<p> Enter the phone number </p>
<form action = '/step2' method = 'POST'>
    <input type="tel" name='number'/> 
    <input type="button" name='Send Code' />
</form>

